[run]
source = scripts/
omit =
    scripts/one_shot/*
    scripts/setup.py

[report]
show_missing = true
fail_under = 0
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    raise SystemExit

[html]
directory = htmlcov
